<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Proyecto LANDA</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script defer src="{{ url_for('static', filename='face.js') }}"></script>
  </head>
  <body>
    <div class="bg-orb bg-orb-left"></div>
    <div class="bg-orb bg-orb-right"></div>
    <main class="shell">{% block content %}{% endblock %}</main>
  </body>
</html>
